VITE_SUPABASE_URL="https://jherhqenlzffrghadhlw.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpoZXJocWVubHpmZnJnaGFkaGx3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NjgyMDYsImV4cCI6MjA5MTA0NDIwNn0.W6c1V5NsUpLGznSCviSC1UhWFZQbdwk7uRnUcrkWvAI"

